body {
    /* font-family: 'Electrolize', sans-serif; */
    background: url("../img/dark.png");
}

div {
    border: 1px solid red;
}


//
// ------------------------- FlipClock
//
$clock-flip-font-size: 120px
$clock-flip-border-radius: 8px
$clock-digit-gap: 20px
$clock-dot-size: 20px

$clock-height: ($clock-flip-font-size * 1.2)
$clock-flip-width: ($clock-flip-font-size * 0.8)
$clock-flip-margin: ($clock-digit-gap / 2)
$clock-flip-section-width: (2 * ($clock-flip-width + 2 * $clock-flip-margin))

$clock-flip-bg: #607D8B
$clock-flip-shadow: 0 2px 5px rgba(0, 0, 0, 0.7)
$clock-flip-font-color: #F44336
$clock-flip-font-shadow: 0 1px 2px #000

.clock-wrapper
  left: 50%
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)

.clock.flip-clock-wrapper ul
  height: $clock-height
  margin: 0 $clock-flip-margin
  width: $clock-flip-width
  box-shadow: $clock-flip-shadow

.clock.flip-clock-wrapper ul li
  line-height: $clock-height

.clock.flip-clock-wrapper ul li a div div.inn
  background-color: $clock-flip-bg
  color: $clock-flip-font-color
  font-size: $clock-flip-font-size
  text-shadow: $clock-flip-font-shadow

.clock.flip-clock-wrapper ul,
.clock.flip-clock-wrapper ul li a div div.inn
  border-radius: $clock-flip-border-radius

.clock.flip-clock-wrapper ul li a div.down
  border-bottom-left-radius: $clock-flip-border-radius
  border-bottom-right-radius: $clock-flip-border-radius

.clock.flip-clock-wrapper ul li a div.up:after
  top: (($clock-height / 2) - 1px)

.clock .flip-clock-dot.top
  top: ($clock-height / 2 - $clock-flip-font-size * 0.2 - $clock-dot-size / 2)

.clock .flip-clock-dot.bottom
  top: ($clock-height / 2 + $clock-flip-font-size * 0.2 - $clock-dot-size / 2)

.clock .flip-clock-dot
  height: $clock-dot-size
  left: $clock-dot-size
  width: $clock-dot-size
  background: $clock-flip-bg

.clock .flip-clock-divider
  height: $clock-height
  width: ($clock-dot-size * 3)
  &:first-child
    width: 0


.clock .flip-clock-divider.seconds .flip-clock-label,
.clock .flip-clock-divider.minutes .flip-clock-label
  right: -1 * $clock-flip-section-width

.clock .flip-clock-divider .flip-clock-label
  color: $clock-flip-font-color
  font-size: $clock-flip-font-size / 4
  width: 2 * $clock-flip-width + 4 * $clock-flip-margin
//
// ------------------------- FlipClock
//

/*
@media screen and (max-width: 819px) {


    .home-featured h1 { font-size: 1.6em; }

    .flip-clock-wrapper ul { height: 50px; line-height: 50px; margin: 3px; }
    .flip-clock-wrapper ul li a div.up:after { top: 24px; }
    .flip-clock-divider { height: 50px; }
    .flip-clock-dot { height: 6px; width: 6px; left: 7px;}
    .flip-clock-dot.top { top: 17px; }
    .flip-clock-dot.bottom { bottom: 8px; }

    .flip-clock-divider .flip-clock-label { font-size: 16px; }
    .flip-clock-divider.days .flip-clock-label { right: -76px; }
    .flip-clock-divider.hours .flip-clock-label { right: -70px; }
    .flip-clock-divider.minutes .flip-clock-label { right: -64px; }
    .flip-clock-divider.seconds .flip-clock-label { right: -70px; }

    .flip-clock-wrapper ul { width: 37px; }
    .flip-clock-wrapper ul li a div div.inn { font-size: 38px; }


    .flip-clock-wrapper ul { margin-bottom: 35px; }
    .flip-clock-wrapper { margin-bottom: -35px; }
}

.flip-clock-divider.minutes { clear: none;}

@media screen and (max-width: 550px) {

    .flip-clock-divider.minutes { clear: left;} 

}
*/





















/*

.flip-clock-wrapper .flip-clock-divider .flip-clock-label {
    color: #FFF;
}

.flip-clock-wrapper .clock {
    width: 460px;
    height: 116px;
    margin: 0 auto;
}

*/



/*
#cont {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

}

#buttons1  {
    color: white;
}

#labels1 {
    color: white;
}





.clock {


	margin: 0 auto;
}



/*
 margin: 0 auto; display: block; width: 322px;
*/
